<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger plugin="openshift-pipeline@1.0.13">
      <apiURL></apiURL>
      <namespace></namespace>
      <authToken></authToken>
      <verbose>true</verbose>
      <testTag>test</testTag>
      <prodTag>prod</prodTag>
      <testStream>quickstart</testStream>
      <prodStream>quickstart</prodStream>
      <destinationNamespace></destinationNamespace>
      <destinationAuthToken></destinationAuthToken>
      <alias>false</alias>
    </com.openshift.jenkins.plugins.pipeline.OpenShiftImageTagger>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>